@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');

body {
    text-align: center;
    margin: 0;
    padding: 0;
}

* {
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 2px;
}

html { 
    background: url(/Formula-1-Predictor-Simulator/images/background.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-blend-mode: darken;
  }

h1 {
    margin: 0;
    padding: 0;
    color: white;
}

aside {
    width: 20vw;
    height: 100vh;
    float: left;
    margin-top: 1vh;
    margin-left: 1vw;
    padding: 0;
    position: absolute;
}

li {
    height: 8vh;
    width: 20vw;
    margin-top: 1vh;
    margin-left: 0;
    background-color: black;
    border-radius: 5px;
    color: white;
    opacity: 80%;
    animation: pract;
    animation-duration: 1.2s;
}

@keyframes pract {
    0% {width:0vw}
    100%{width:20vw}
}

li:hover {
    background-color: aqua;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}


h2 {
    margin: 0;
    height: 100%;
    width:8vh;
    display:block;
    background-color: white;
    opacity: 80%;
    text-align: center;
}

label {
    color: white;
}

label, select {
    margin-top: 2vh;
}

button {
    padding: 1vh;
    font-size: 2vh;
    display: block;
    border-radius: 5px;
    color: black;
    background-color: white;
    border: solid black 2px;
    margin: auto;
    margin-top: 5vh;
    cursor: pointer;
    animation: button;
    animation-duration: 1s;
}

@keyframes button {
    0% {padding:0vh}
    100%{padding:1vh}
}

button:hover {
    background-color: ghostwhite;
}
