@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');


body {
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

* {
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 2px;
}

html { 
    background: url(/Formula-1-Predictor-Simulator/images/background.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-blend-mode: darken;
  }

h1 {
    margin: 0;
    padding: 0;
    color: white;
}

aside {
    float: left;
    height: 100vh;
}

#column1 {
    width: 20vw;
}

#column2 {
    width: 40vw;
}

#column3 {
    width: 37vw;
}
  


li {
    height: 4vh;
    width: 20vw;
    margin-top: 0.4vh;
    margin-left: 1vw;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    color: white;
    opacity: 80%;
    animation: pract;
    animation-duration: 0.6s;
}

@keyframes pract {
    0% {
        width:0vw;
        border-right: 3px solid;
    }
    95% {
        border-right: 3px solid;
    }
    100% {
        border-right: none;
        width:20vw;
    }
}


h2 {
    margin: 0;
    height: 100%;
    width:8vh;
    display:block;
    background-color: white;
    opacity: 80%;
    text-align: center;
}

label {
    color: white;
}

label, select {
    margin-top: 2vh;
}

button {
    padding: 1vh;
    font-size: 2vh;
    display: block;
    border-radius: 5px;
    color: black;
    background-color: white;
    border: solid black 2px;
    margin: auto;
    margin-top: 5vh;
    cursor: pointer;
    animation: button;
    animation-duration: 1s;
}

@keyframes button {
    0% {padding:0vh}
    100%{padding:1vh}
}

button:hover {
    background-color: ghostwhite;
}

#infoArea {
    margin-left: 3vw;
    margin-top: 5vh;
    height: 90vh;
    width: 34vw;
    border-radius: 2vw;
    background-color: rgba(0, 0, 0, 0.6);
    display: inline-block;
}

h3 {
    color: white;
    float: left;
    width: 34vw;
    text-align: center;
    font-size: 3vh;
}

.weather {
    width: 8.5vw;
    height: 18vh; 
    margin-left: 0.5vw;
    border-radius: 1vw;
    border: 1px solid white;
    display: inline-block;
    margin-top: none;
    text-align: center;
}

.weather:hover {
    background-color: rgba(0, 0, 0, 0.6);
    cursor: default;
}

img {
    height: 8vh;
    width: 8vh;
    margin: 0;
    margin-left: 2vw;
    padding: 0;
    display: block;
    animation: image;
    animation-duration: 0.5s;
}

#trackTitle {
    animation: image;
    animation-duration: 0.5s;
}

@keyframes image {
    0% {opacity: 0%}
    100%{opacity: 100%}
}

p {
    color: white;
    margin: 0;
    padding: 0;
}

.times {
    margin-top: 0.5vh;
}

div {
    margin: 0;
    padding: 0;
}

h4 {
    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: 3vh;
    float: left;
    height: 4vh;
    width: 4vh;
    background-color: rgba(256, 256, 256, 1);
    color: black;
    border-radius: 0 0 8px 0; 
    animation: place;
    animation-duration: 0.2s;
}

@keyframes place {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

.leaderboard {
    display: inline-block;
    float: left;
    font-size: 2.1vh;
    margin-top: 0.6vh;
    animation: leftright;
    animation-duration: 0.7s;
}

#marker {
    background-color: aqua;
    float: left;
    display: inline-block;
    height: 3.2vh;
    width: 0.25vw;
    margin-left: 1vw;
    margin-top: 0.4vh;
    margin-right:1vw;
    border-radius: 1px;
    animation: topdown;
    animation-duration: 0.4s;
}

@keyframes topdown {
    0% {
        height: 0vh;
    }
    25% {
        height: 0vh;
    }
    100% {
        height:3.2vh;
    }
}

@keyframes leftright {
    0% {
        opacity: 0%;
    }
    50% {
        opacity: 0%;
    }
    75% {
        opacity: 50%;
    }
    100% {
        opacity: 100%;
    }
}

.leaderboardImage {
    height: 4vh;
    width: 4vh;
    border-radius: 0 5px 5px 0;
    float: right;
    margin: 0;
    padding: 0;
    opacity: 0.85;
    animation: images;
    animation-duration: 1s;
}

@keyframes images {
    0% {
        opacity: 0;
    }

    65% {
        opacity: 0;
    }
    100% {
        opacity: 0.85;
    }
}

#topLeaderboard {
    width: 22vw;
    height: 7vh;
    margin-top: 1vh;
    border-radius: 2vw 2vw 0 0;
    background-color: rgba(0, 0, 0, 0.9);
    margin-left: 1vw;
    margin-bottom: 0;
}


ul {
    margin-left: 1vw;
    padding: 0;
    height: 90vh;
    width: 22vw;
    list-style: none;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0 0 2vw 2vw;
    margin-top: 0;
}

#titleText {
    letter-spacing: 3px;
    margin-top: 2vh;
}

#timezoneOption {
    width: 8vw;
    text-align: center;
    margin-top: 5vh;
}