body {
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
    padding: 0;
}

aside {
    width: 20vw;
    height: 100vh;
    float: left;
    margin-top: 1vh;
    margin-left: 1vw;
    padding: 0;
    position: absolute;
}

li {
    height: 8vh;
    width: 20vw;
    margin-top: 1vh;
    margin-left: 0;
    background-color: black;
    opacity: 60%;
    border-radius: 5px;
    color: white;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}


h2 {
    margin: 0;
    height: 100%;
    width:8vh;
    display:block;
    background-color: white;
    opacity: 80%;
    text-align: center;
}